.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: none; }

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
  border-left-color: none; }

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
  border-right-color: none; }

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
  border-top-color: none; }